.modal {
}

.content__hero {
}

.content__hero h2 {
}

.content__title {
}

.content__actions {
}

.content__actions button span {
}

.container-color {
  width: 100%;
  padding: 2px;
  border-radius: 50%;
  max-width: 20px;
  aspect-ratio: 1/1;
}

.table-wrapper {
  overflow-x: auto;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin: 2em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
}

td {
  color: #4f4f4f;
}

th {
  text-align: left;
  white-space: nowrap;
  font-weight: 500;
  color: #000;
}

tbody tr {
  border-top: 1px solid #d1d1d1;
}

.car-image img {
  display: block;
  width: 100px;
  aspect-ratio: 2/1;
  border-radius: 9px;
  object-fit: cover;
}

.car-form input:not([type='color']) {
  width: 100%;
}

input[type='color'] {
  width: 56px;
  padding: 0 0.1em;
}

::-webkit-color-swatch,
::-moz-color-swatch {
  border-color: transparent;
}

.empty-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.delete {
  height: 20px;
  padding: 0;
  aspect-ratio: 1/1;
  background-color: #fedcdb;
  border: none;
  color: #fc918e;
  font-size: 1.1rem;
  font-weight: 500;
}

.alert {
  position: fixed;
  z-index: 1;
  top: 4em;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.alert h5 {
  font-weight: 400;
}
